dash==1.13.3
dash-core-components
dash-html-components
dash-renderer
pandas
gunicorn==19.10.0
Flask==1.1.2
Flask-Compress
numpy
Werkzeug
Click
future
Jinja2
MarkupSafe
pytz
retrying
six
sqlalchemy
nose
tornado
psycopg2-binary
