/* STRUCTURE

    GENERAL
    TEXT
    NAVIGATION
    HOME
    CONTROLLING
    DOWNTIMES
    VEHICLESTABLE
 */


/* GENERAL */
body {
    font-family: 'Open Sans', 'Ubuntu', 'Lato', sans-serif;
    color: #444444;
    margin: 0;
    background: #f4f4f4;
}

div {
    padding: 0;
}

.button {
    display: block;
    padding: 12px 24px;
    margin-left: 12px;
    background: #007bff;
    color: white;
    border: none;
    text-align: center;
    white-space: nowrap;
}

.card {
    padding: 12px 12px;
    border-radius: 6px;
    border: none;
    background: white;
}

.last-page {
    font-family: 'Open Sans', 'Ubuntu', 'Lato', sans-serif !important;
    font-size: 12px !important;
}

.table-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 12px;
}


#vocation-dropdown-table .Select {
    border: solid 2px #eeeeee;
    border-radius: 6px;
}

.Select-control {
    min-height: 50px !important;
}


/* TEXT */
h1 {
    font-family: 'Montserrat', 'Ubuntu', 'Lato', sans-serif;
    color: #5b5b5b;
    font-weight: normal;
    font-size: 1.8em;
    padding-top: 6px;
    padding-bottom: 12px;
}

h2 {
    font-family: 'Montserrat', 'Ubuntu', 'Lato', sans-serif;
    color: #5b5b5b;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 6px;
    padding-bottom: 12px;
}

h3 {
    font-family: 'Montserrat', 'Ubuntu', 'Lato', sans-serif;
    color: #5b5b5b;
    font-weight: normal;
    font-size: 1.2em;
    padding-top: 6px;
    padding-bottom: 12px;
}

h4 {
    font-family: 'Montserrat', 'Ubuntu', 'Lato', sans-serif;
    color: #5b5b5b;
    font-weight: normal;
    font-size: 0.9em;
    padding-top: 6px;
    padding-bottom: 12px;
}

/* HEADER */
.logo-text {
    font-family: 'Montserrat', 'Ubuntu', 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 4px;
    margin: 0 !important;
    padding: 0 18px !important;
}

.header {
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgrey;
}

.header * {
    display: inline-block;
}


/* HOME */
.home-content {
    margin: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.home-welcome-text {
    margin-bottom: 20px;
    height: 700px;
}
realtime-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}



/* CONTROLLING */
.tab-content {
    margin: 18px;
}

.controlling-content {
    padding: 12px 36px;
    margin: 0 auto;
}

.dropdown-alignment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: baseline;
    flex: auto;
    width: 100% !important;
}


.dropdown-alignment > div {
    width: 100% !important;
}

#page-controlling-radios-3 > label {
    margin-right: 50px;
}


.data-picker {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
}


/* DOWNTIMES */
.downtimes-content {
    margin: 0 auto;
}

.card-tab {
    margin: 18px;
}

.dash-table-container {
    margin: 0;
}

.row {
    margin: 0;
}

.cal-container {
    width: 100%;
    height: 700px;
}

.dash-graph {
    margin-bottom: 24px;
}

#page-downtimes-radios-1 > label {
    margin-right: 20px;
}

#page-downtimes-radios-2 > label {
    margin-right: 20px;
}

#page-downtimes-radios-3 > label {
    margin-right: 10px;
}


/* VEHICLES TABLES */
.vehiclestables-content {
    padding: 12px 36px;
    margin: 0 auto;
}

#graph-filter label {
    padding-right: 12px;
}

.vehicles-tables-filter {
    width: 200px;
}

.vehicles-tables-content {
    max-width: 900px;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.vehicles-tables-data-table {
    padding: 12px;
}

