body {
    font-family: 'Open Sans', 'Ubuntu', 'Lato', sans-serif;
    color: #444444;
    margin: 0;
}

.container {
    padding: 12px 36px;
    margin: 0 auto;
}

.home-content {
    background-color: #f8f8f8;
    margin: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.controlling-content {
    padding: 12px 36px;
    margin: 0 auto;
}

.downtimes-content {
    margin: 0 auto;
}

.vehiclestables-content {
    padding: 12px 36px;
    margin: 0 auto;
}


.dash-table-container {
    margin: 0;
}

.row {
    margin: 0;
}

.logo-text {
    top: 4px !important;
    position: relative;
    margin: 0 !important;
    padding: 0 18px !important;
}

.header {
    background-color: #f8f8f8;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgrey;
}

.header * {
    display: inline-block;
}


div {
    padding: 0;
}

/*Map*/

/*PieCharts*/


/*Calender*/

.calContainer {
    width: 100%;
    height: 700px;
}

/* VEHICLES TABLES */
.vehicles-tables-filter {
    width: 200px;
}

.vehicles-tables-content {
    max-width: 900px;
    border-radius: 5px;
    background-color: #F8F8F8;
    margin: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.vehicles-tables-data-table {
    padding: 12px;
}

.vehicles-tables-button-reset {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 500;
    border: none;
    background: white;
    color: #1a1a1b;
    margin: 12px;
}

.vehicles-tables-button-previous-level {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background: white;
    color: #1a1a1b;
    margin: 12px;
}


.overview-welcome-text {
    margin-bottom: 20px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}
